<footer class="site-footer">

  <div class="wrapper">
    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->
    <div class="footer-col-wrapper">

      <div class="footer-col " style="width: 120px;">
        <a class="avatar" style="display: inline-block; position: absolute;" href="/" aria-label="Avatar">
          <img src="{{ site.gravatar_url }}?v=3&s=150" `class="avatar" width="75" height="75"/>
        </a>

        <ul class="social-media-list" style="display: inline-block; position: absolute; margin-left: 85px;">
          {% if site.github_username %}
          <li>{% include icon-github.html username=site.github_username %}</li>
          {% endif %}

          {% if site.twitter_username %}
          <li>{% include icon-twitter.html username=site.twitter_username %}</li>
          {% endif %}

          <li>{% include icon-rss.html %}</li>
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
</footer>
